/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff7e5f;
    padding-bottom: 5px;
}

p {
    margin-bottom: 15px;
}

ol {
    margin-bottom: 15px;
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.resized {
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}

/* Styles pour les éléments en gras et en italique */
strong {
    color: #ff7e5f;
}

em {
    font-style: italic;
    color: #feb47b;
}
